doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    title Untitled
    script(src='/webcomponentsjs/webcomponents.min.js')
    link(rel='import', href='/elements/my-element.html')
    link(rel='import', href='/elements/age-slider.html')
  body
    block content